div.card#tech p {
    margin-bottom: 1.5rem;
}
div.card#tech ul#techs {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
div.card#tech ul#techs li {
    text-align: center;
    font-size: 0.65rem;
}
div.card#tech ul#techs li ~ li {
    margin-left: 1.6rem;
}
div.card#tech ul#techs img {
    height: 3rem;
}
